@inherits LayoutComponentBase

<MApp>
    <RadzenComponents />
    <!--SideBar-->
    <MContainer>
        <MRow>
            <MNavigationDrawer Absolute ExpandOnHover Color="#9E9E9E">
               
                <MList Nav>
                    <MListItem Link Style="padding: revert">
                        <MListItemIcon>
                           
                        </MListItemIcon>
                        <MListItemTitle Style="font-size: larger"></MListItemTitle>
                    </MListItem>
                    <MListItem Link Href="/animals" Style="padding: revert">
                        <MListItemIcon>
                            <MIcon>mdi-cow</MIcon>
                        </MListItemIcon>
                        <MListItemTitle Style="font-size: larger;">Animals</MListItemTitle>
                    </MListItem>
                    <MListItem Link Href="/feeds" Style="padding: unset">
                        <MListItemIcon>
                            <MIcon>mdi-sprout</MIcon>
                        </MListItemIcon>
                        <MListItemTitle Style="font-size: larger">Feeds</MListItemTitle>
                    </MListItem>
                    <MListItem Link Href="/rations" Style="padding: unset">
                        <MListItemIcon>
                            <MIcon>mdi-tune</MIcon>
                        </MListItemIcon>
                        <MListItemTitle Style="font-size: larger">Rations</MListItemTitle>
                    </MListItem>
                    <MDivider></MDivider>

                    <MListItem Link Href="/solver" Style="padding: unset">
                        <MListItemIcon>
                            <MIcon>mdi-function</MIcon>
                        </MListItemIcon>
                        <MListItemTitle Style="font-size: larger">Solver</MListItemTitle>
                    </MListItem>

                </MList>

            </MNavigationDrawer>
        </MRow>
    </MContainer>

    <!--TopBar-->
    <MAppBar App Color="#BDBDBD" Collapse="false">
        <MIcon Large Color="success">mdi-sprout-outline</MIcon>
        <MAppBarTitle Class="mdi-36px">
            <a href="/" style="text-decoration: none;color: black;font-size:32px">OptiFeed</a>
        </MAppBarTitle>
        <MSpacer></MSpacer>
        <MButton Icon Href="https://github.com/oznakdn">
            <MIcon>mdi-github</MIcon>
        </MButton>
    </MAppBar>
    <!--Content-->
    <MMain>
        <MContainer>
            @Body
        </MContainer>
    </MMain>
    <!--Footer-->
    <MFooter Absolute App Color="#9E9E9E">
        <MCol Class="text-center" Cols="12">
            @DateTime.Now.Year - <strong>OptiFeed</strong>
        </MCol>
    </MFooter>
</MApp>




